.ui.segment {
   padding: 0em;
}

p {
  font-size: 16px;
}

.marginTop90Px {
  margin-top: 90px;
}

/* NOLA */

.whiteBorder {
  border: 8px solid white;
  -webkit-box-shadow: 0px 15px 18px 0px rgba(50, 50, 50, 0.19);
  -moz-box-shadow:    0px 15px 18px 0px rgba(50, 50, 50, 0.19);
  box-shadow:         0px 15px 18px 0px rgba(50, 50, 50, 0.19);
}

#thumbnail {
  height: 225px;
  width: 225px;
  position: relative;
}

h3.marginTop10px, .marginTop10px {
  margin-top: 10px;
}

.ui.modal {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.ui.segment.height250Px {
  height: 250px;
}
